.navbar{
    background-color: transparent;
    transition-timing-function:ease-in;
    transition:0.55s;
}

.navbar.active{
    background-color: black;
    /*The thing below is a 'function' that allows the slow transition to black that I want*/
    transition-timing-function:ease-in;
    transition:0.6s;
}

