#headshot {
    height:57rem;
    width: 100%;
    /*fixed is what causes that weird image follows*/
    background: url(./../imgs/Kelvin.jpg) no-repeat center fixed;
    background-size: cover;
}

.headshot-intro-text{
    position:absolute;
    text-align: left;
    left:52rem;
    top:6rem;
    cursor:default;
    animation:fadeIn 5s;
}

.scrolling-text {
    height: 1.3em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width: 10em;
}

/*the animation for the scolling text*/
.scrolling-text > span {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
    font-weight: bold;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slide {
    0% {
      top: 0;
    }
    25% {
      top: -1.2em;
    }
    50% {
      top: -2.4em;
    }
    75% {
      top: -3.6em;
    }
  }